div a{
    list-style-type: none;
    text-decoration: none;
  }

p{
    color:white;
}

.navbar {
    justify-content: space-between;
    display: flex;
    background-color: rgb(34, 89, 121);
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.500);
}

.navbuttons a {
    display: flex;
    align-items: center;
    color: white;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

.navbuttons {
    display: flex;
    align-items: center;
}

.navbar img {
    height: 35px;
    margin-left: 50px;
}

.pic1 img {
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
    height: 550px;

}

body {
    background-color: #1D354A;
    margin: auto;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.pictures img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.500);
}

.container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.500);
}

.avatar-wrapper {
    padding-right: 200px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.500);
}

@media only screen and (max-width: 1024px) {
    .pictures {
        width: 350px;
        display: flex;
        overflow-x: scroll;
        gap: 65px;
        margin: 5px;
        scroll-behavior: smooth;
    }

    .pic1 img {
        height: 350px;
    }

    .navbar img {
        display: none;
        visibility: hidden;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    .navbar a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pictures img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        margin-top: 50px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }

    .avatar-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
  }