ul {
    list-style-type: none;
  }

.navbar {
    display: flex; 
}

.navbarButton{
    padding: 1rem;
    color: white;
    text-decoration: none;
}

body {
    background-color: #1D354A;
}

.avatar-wrapper {
    color: white;
}

